{% extends 'base.html.twig' %}

{% block title %}Landing Page{% endblock %}

  {% block body %}
    <h1>Available Links</h1>
    <ul>
    <li><a href="{{ path('contact') }} ">Contact</a></li>
    <li><a href='webservicedetails.html'>Webservice</a></li>
    </ul>
  {% endblock %}
