{% extends 'base.html.twig' %}

{% block title %}Landing Page{% endblock %}
  {% block header %}Available Links{% endblock %}

  {% block body %}
    <ul>
    <li><a href="{{ path('contact') }} ">Contact</a></li>
    <li><a href='{{ path('rest') }}'>REST Details</a></li>
    </ul>
  {% endblock %}
